.bar {
  background: #666;
  bottom: 1px;
  height: 3px;
  position: absolute;
  width: 5px;      
  animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
  0% {
     opacity: .35;
      height: 3px; 
  }
  100% {
      opacity: 1;       
      height: 22px;        
  }
}