.bar {
  background: #FFFFFF;
  bottom: 7px;
  height: 3px;
  position: absolute;
  width: 5px;  
  border-radius: 1px;    
  opacity: 0.3;
}

.animated_bar {
  animation: sound 0ms -800ms linear infinite alternate;
}


.bar:nth-child(1)  { 
  left: 7px; 
  animation-duration: 474ms; 
}

.bar:nth-child(2)  { 
  left: 13px; 
  animation-duration: 433ms; 
}

.bar:nth-child(3)  { 
  left: 19px; 
  animation-duration: 407ms; 
}

@keyframes sound {
  0% {
     opacity: .35;
      height: 3px; 
  }
  100% {
      opacity: 1;       
      height: 16px;        
  }
}